Importing necessary libraries

In [1]:
import pandas as pd
import math
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split

Separating features and output variables

In [5]:
df=pd.read_csv("train.csv")
X=df.loc[:,['id', 'text',]]
Y=df.loc[:,"author"]

In [6]:
X.head()

        id                                               text
0  id26305  This process, however, afforded me no means of...
1  id17569  It never once occurred to me that the fumbling...
2  id11008  In his left hand was a gold snuff box, from wh...
3  id27763  How lovely is spring As we looked from Windsor...
4  id12958  Finding nothing else, not even gold, the Super...

In [7]:
Y.head()

0    EAP
1    HPL
2    EAP
3    MWS
4    HPL
Name: author, dtype: object

Splitting the data into train and test in the ratio of 60/40 in a stratified manner

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.4, random_state=0,stratify=None)

In [9]:
len(X_train)

11747

In [10]:
len(X_test)

7832

In [27]:

X_train["author"]=y_train

df=X_train
    
E=['','','']
r=0

C:\Users\jeeva\Anaconda3\envs\py35\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [28]:
X_train.head()

            id                                               text author
7805   id22085  Eschew, in this case, big words; get them as s...    EAP
3124   id12063  In pursuance of this idea, he pushed open the ...    MWS
11404  id02151  The officials devised excuses not to enter the...    HPL
15107  id15447  I was now trying to get the better of the stup...    EAP
19237  id27145  I was new to sorrow, but it did not the less a...    MWS

Calculating the probability of that author

In [29]:
A = df["author"].unique()
dim=[]
for i in A:
    dim.append(len(df[df["author"] == i]))
z5=sum(dim)
pa=[i/z5 for i in dim]

Storing the sentences in a list of lists

In [30]:

for j in range(len(A)):
    p=df["author"]==A[j]
    k= df.ix[p,"text"]
    for i in k:
        E[r]=E[r]+i
    r=r+1

Splitting the sentences into words

In [31]:
for l in range(len(E)):
    E[l]=E[l].split(" ")

Converting all the words into lower alphabets and removing special characters

In [32]:

for l in range(len(E)):
    E[l]=[w.lower() for w in E[l]]
    E[l]=[w for w in E[l] if w.isalpha()]

Counting the word frequencies and storing them in a dictionary

In [34]:
d=[{},{},{}]
for l in range(len(E)):
    for w in E[l]:
        if w in d[l]:
            d[l][w]= d[l][w]+1
        else:
            d[l][w]=1

Converting into data frame and filling Nans with zeros

In [35]:
W= pd.DataFrame(d)
W=W.fillna(0)
V=W.shape[1]

Applying modified Naive Bayes formula

In [38]:
sum=W.sum(axis=1)

den=(sum+V)
X=W+1

den=den
for i in X.columns:
    for j in range(3):
        X.ix[j,i]=X.ix[j,i]/den[j]

C:\Users\jeeva\Anaconda3\envs\py35\lib\site-packages\ipykernel_launcher.py:9: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  if __name__ == '__main__':

In [39]:
X.head()

,a,ab,abandon,abandoned,abandoning,abandonment,abaout,abashed,abatement,abbreviation,...,zodiacal,zokkar,zone,zopyrus,zubmizzion,à,ædile,æmilianus,ærial,æronaut
0,0.023692,0.000018,0.000035,0.000053,0.000018,0.000018,0.000009,0.000018,0.000009,0.000018,...,0.000026,0.000009,0.000018,0.000018,0.000018,0.000044,0.000009,0.000009,0.000018,0.000018
1,0.015790,0.000010,0.000010,0.000030,0.000010,0.000030,0.000010,0.000010,0.000010,0.000010,...,0.000010,0.000010,0.000010,0.000010,0.000010,0.000010,0.000010,0.000010,0.000010,0.000010
2,0.019210,0.000010,0.000041,0.000072,0.000021,0.000010,0.000164,0.000010,0.000021,0.000010,...,0.000010,0.000031,0.000010,0.000010,0.000010,0.000010,0.000021,0.000031,0.000010,0.000010

Doing the same thing with the test data

In [40]:
X_test["author"]=y_test
dt=X_test

j=list(dt.ix[:,1])
j1=[j[i].lower() for i in range(len(j))]

j2=[j1[i].split(" ") for i in range(len(j1))]

id1=list(dt.ix[:,0])
E1=[]
H1=[]
M1=[]

for i in range(len(j2)):
    E=pa[0]
    H=pa[1]
    M=pa[2]
    for j in range(len(j2[i])):
        if j2[i][j] in X.columns:
            E*=X.ix[0,j2[i][j]]
            H*=X.ix[1,j2[i][j]]
            M*=X.ix[2,j2[i][j]]
        else:
            E*=1/3
            H*=1/3
            M*=1/3
    E1.append(E)
    M1.append(M)
    H1.append(H)

op=pd.DataFrame(np.column_stack([E1,H1,M1]),columns=["EAP","HPL","MWS"])

op1= op.apply(np.sum,axis=1)# finding each row sum

for i in op.columns:
    for j in range(len(op)):
        op.ix[j,i]=op.ix[j,i]/op1[j]

C:\Users\jeeva\Anaconda3\envs\py35\lib\site-packages\ipykernel_launcher.py:4: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  after removing the cwd from sys.path.
C:\Users\jeeva\Anaconda3\envs\py35\lib\site-packages\ipykernel_launcher.py:37: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
C:\Users\jeeva\Anaconda3\envs\py35\lib\site-packages\ipykernel_launcher.py:37: RuntimeWarning: invalid value encountered in double_scalars

In [41]:
op.head()

        EAP       HPL           MWS
0  0.000107  0.001401  9.984915e-01
1  0.150218  0.814442  3.533970e-02
2  0.000032  0.999967  4.886161e-07
3  0.095733  0.564198  3.400690e-01
4  0.390857  0.608387  7.565308e-04

We can observe that the row sum of probabilities is 1

In [42]:
Y_actual=pd.get_dummies(y_test)

n_test=len(Y_actual)

headernames=op.columns

Y_actual.columns = headernames

Y_a=Y_actual.set_index(op.index)

In [43]:
Y_a.head()

   EAP  HPL  MWS
0    0    1    0
1    0    0    1
2    0    0    1
3    0    0    1
4    0    0    1

These are actual probablities

In [46]:
sum1=0
op=op.fillna(op.mean())
for i in range(n_test):
    for j in range(3):
        sum1+=Y_a.iloc[i,j]*(math.log(op.iloc[i,j]))


error=-sum1/n_test

Calculating the logloss of actual Vs predicted

In [45]:
error

4.3200719133349716